# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: CI

on:
  pull_request:
    branches: [main]

  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5 -e MYSQL_ROOT_PASSWORD=test -e MYSQL_USER=test -e MYSQL_PASSWORD=test -e MYSQL_DATABASE=test --entrypoint sh mysql:8 -c "exec docker-entrypoint.sh mysqld --default-authentication-plugin=mysql_native_password"
        ports:
          - 3306:3306
          
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@master
        with:
          node-version: "14"

      - name: Run Npm Install
        run: npm install

      - name: Create env file
        run: |
          touch .env
          echo DB_HOST=0.0.0.0 >> .env
          echo DB_PORT=3306 >> .env
          echo DB_USERNAME='test' >> .env
          echo DB_PASSWORD='test' >> .env
          echo DB_NAME='test' >> .env
          echo APP_NAME='test' >> .env
          echo APP_ENV='test' >> .env
          echo APP_PORT_HTTP=3000 >> .env
          echo APP_LOG='error' >> .env
          echo DB_CONNECTION='mysql' >> .env
          echo JWT_ACCESS_SECRET='test' >> .env
          cat .env


      - name: Run Migrate Local
        run: npm run migrate:up:local
        
      - name: Run Testing
        run: npm run test

      # - name: Set Up Codeclimate and Send Report Codeclimate
      #   uses: paambaati/codeclimate-action@v2.7.5
      #   env:
      #     CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORT_ID }}
      #   with:
      #     coverageLocations: coverage/lcov.info:lcov
