name: Release Image

on:
  push:
    branches: [main]
    paths:
      - 'src/**'
      - 'docker/**'
      - '.github/**'
      - 'package*'
  

jobs:
  build:
    name: Setup, Build, Publish
    runs-on: ubuntu-latest
    env:
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      IMAGE_NAME: ayocodingit/clean-architecture-node
      CONTAINER_NAME: clean-architecture-node
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # # Configure Docker with Credentials
      # - name: Configure Docker
      #   run: |
      #     docker login -u ${{ env.REGISTRY_USERNAME }} -p "${{ env.REGISTRY_PASSWORD }}"

      # # Build the Docker image
      # - name: Set version tag
      #   id: vars
      #   run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      # - name: Build and push
      #   id: docker_build
      #   uses: docker/build-push-action@v4
      #   with:
      #     file: docker/Dockerfile
      #     context: .
      #     push: true
      #     tags: ${{ env.IMAGE_NAME }}:latest, ${{ env.IMAGE_NAME }}:${{ env.sha_short }} 

  # deploy: 
  #   name: Deploy
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Set up SSH
  #       uses: webfactory/ssh-agent@v0.9.0
  #       with:
  #         ssh-private-key: ${{ secrets.VM_SSH_PRIVATE_KEY }}
      
  #     - name: Release
  #       run: |
  #         ssh -o StrictHostKeyChecking=no \
  #         -i ~/.ssh/id_rsa \
  #         ${{ secrets.VM_SSH_CREDENTIAL }} << 'EOF'
  #         docker login -u ${{ env.REGISTRY_USERNAME }} -p "${{ env.REGISTRY_PASSWORD }}"
  #         docker image pull ${{ env.IMAGE_NAME }}:latest
  #         docker compose up --no-deps --force-recreate -d ${{ env.CONTAINER_NAME }}
  #         exit_code=$?
  #         exit $exit_code
